.Header {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  color: #1eb4e9;
}


.navbar {
  overflow: hidden;
  background-color: rgba(215, 215, 217, 0.5);
  padding: 20px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar a {
  float: left;
  display: block;
  color: #081E26;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.navbar a:hover {
  background-color: #517C8C;
  color: black;
}
.navbar a.active {
  background-color: #034959;
  color: white;
}
.navbar-right{
  float: left;
}