$my_green: rgba(20, 140, 128, 1);
$translucent: rgba(0, 0, 0, 0);
$black_glaze: #031014;
@mixin  text-font {
  font-family: "monospace", "Courier New", sans-serif;
}
.gallery {
  @include text-font;
  display: block;
  flex-direction: column;
  color: $black_glaze;
}


.genres-bar {
  // margin-top: 30px;
  display: block;
  justify-content: center;
  background-color: $translucent;
}


.movies-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}