$black_glaze: #031014;
$my_blue: rgba(33, 117, 191, 1);
$my_cyan: rgba(12, 177, 242, 1);
$my_dark_green: rgba(17, 128, 140, 1);
$my_green: rgba(20, 140, 128, 1);

.switch-bar {
  position: fixed;
  width: 100%;
  float: left;
  justify-content: center;
  background-color: rgba(30,180,233, 0.0);
  z-index: 1;
}

.splitter {
  color: rgba($color: #000000, $alpha: 0);
  height: 60px;
  width: 100%;
}
body {
  font-family: "monospace", "Courier New", sans-serif;
  // background-image: url('./assets/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  // background-position: 0% 0%;
}